<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
</head>
<body>
   <a href="{% url 'mainapp:blogs' %}">back to blogs</a>
    <h3>Post</h3>

    <form action="{% url 'mainapp:create_blog' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input  class="btn" type="submit">

    </form>
</body>
</html>